<h2>Problem Statement ::</h2>

<span>
Make a prediction about the price of oil for the next three and six months using the any open
source python ecosystem tools and deploy it in any public facing PaaS stack.

1. Python Pandas, ​http://pandas.pydata.org/
2. Visulatization either with Matplotlib, Python Bokeh or http://stanford.edu/~mwaskom/software/seaborn/
3. You can choose any python web Application server
4. DB backend is your choice
5. Share your Git repository , GitHub or Bitbucket
6. Host your application on OpenShift , ​https://www.openshift.com/products/pricing ​
or any public stack of your choice Google AppEngine, Heroku .
8. Documentation of your app.
</span>
<h1>Reading ::</h1>
<span>
Timeseries Analysis
Visualization Tools (matplotlib, bokeh, seaborn)
</span>
<span>
<h1>Data ::</h1>
1. Download the monthly petroleum prices can be found at the
http://www.eia.gov/dnav/pet/pet_pri_spt_s1_m.htm
</span>

<h1>Solution ::</h1>
<span><a href="/prediction/uploadsd/">Link To Solution</a></span>