<div>
    <img class="img_width" src="{{graph_dict.all_data_path}}">
    <hr style="width: 838px;"/>

    <input type="radio" name='thing' value='valuable' data-id="six_month_graph" />
    <span>Six Month</span>

    <input type="radio" name='thing' value='valuable'data-id="three_month_graph" >
    <span>Three Month</span>

    <hr />

    <div id="three_month_graph" class="none">
        <img class="img_width" src="{{graph_dict.m3_forecast_data_path}}">
    </div>

    <div id="six_month_graph" class="none">
        <img class="img_width" src="{{graph_dict.m6_forecast_data_path}}">
    </div>
</div>
<script>
$(':radio').change(function (event) {
    var id = $(this).data('id');
    $('#' + id).addClass('none').siblings().removeClass('none');
});
</script>